body {
    font-family: roboto, sans-serif;
    display: flex;
    flex-flow: column nowrap;
}

.header,
.footer,
.hero {
    display: flex;
    background-color: #1F2937;
    color: white;
}

.header {
    align-items: center;

}

.hero {
    flex-direction: column;
}

.footer {
    margin-top: auto;
}

.headerlinks {
    margin-left: auto;
}

a {
    text-decoration: none;
    padding: 10px;
}

div.hero h1 {
    font-size: 48px;
    font-weight: bolder;
    color: #F9FAF8
}

div.hero p, a {
    font-size: 18px;
    color: #E5E7EB;
}

div.header h3 {
    font-size: 24px;
    color: #F9FAF8
}

button {
    background-color: #3882f6;
    border: none;
    color: white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 12px;
    font-weight: bold;
    border-radius: 4px;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 5px;
    padding-bottom: 5px;
}