body {
    font-family: roboto, sans-serif;
    display: flex;
    flex-flow: column nowrap;
}

.header,
.footer {
    display: flex;
    background-color: #1F2937;
    color: white;
}

.footer {
    margin-top: auto;
}

.headerlinks {
    margin-left: auto;
}

a {
    color: grey;
    text-decoration: none;
}