body {
    font-family: roboto, sans-serif;
    display: flex;
    flex-flow: column nowrap;
}

body > * {
    padding-left: 200px;
    padding-right: 200px;
    position: relative;
}

.header,
.footer,
.hero {
    display: flex;
    background-color: #1F2937;
    color: white;
}

.header {
    align-items: center;
    justify-content: center;
}

.hero {
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding-top: 72px;
    padding-bottom: 72px;
}

.hero-container {
    height: 350px;
    max-width: 650px;
}

.footer {
    margin-top: auto;
}

.headerlinks {
    margin-left: auto;
}

a {
    text-decoration: none;
    padding: 10px;
}

div.hero h1 {
    font-size: 48px;
    font-weight: bolder;
    color: #F9FAF8
}

div.hero p, a {
    font-size: 18px;
    color: #E5E7EB;
}

div.header h3 {
    font-size: 24px;
    color: #F9FAF8
}

div.section1 img {
    border:4px solid #3882f6;
    border-radius: 12px;
    width: 150px;
    height: 150px;
    background-color: transparent;
}

img {
    background-color: grey;
    width: 700px;
    height: 350px;
    margin-left: auto;
}

.s1-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 52px;
    margin-bottom: 72px;
}

.info {
    font-size: 14px;
    text-align: center;
    max-width: 150px;
    padding-top: 20px;
}

.info-header {
    text-align: center;
    font-size: 36px;
    font-weight: bolder;
    color: #1F2937;
    margin: 32px;
}

.section2 {
    background-color: lightgrey;
}

button {
    background-color: #3882f6;
    border: none;
    color: white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 12px;
    font-weight: bold;
    border-radius: 4px;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 5px;
    padding-bottom: 5px;
}